<h1>Charge</h1>
<p>
  This is a simple tool that helps me control my task flow.<br>
  I want to manage my tasks and projects more effectively.<br>
</p>
<div>
  <% if user_signed_in? %>
    <%= link_to 'Create a project', new_project_path %>
  <% end %>
</div>