<h1>Charge</h1>
<p>
  This is a simple tool that helps me control my task flow.<br>
  I want to manage my tasks and projects more effectively.<br>
</p>
<div>
  <%= link_to 'Create an account', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
</div>