<p id="notice"><%= notice %></p>

<h1>My Projects</h1>

<table>
  <thead>
  </thead>

  <tbody>
    <% @projects.each do |project| %>

      <tr>
        <td><%= link_to project.title, project %></td>
        <!-- <td><%= link_to 'Edit Project', edit_project_path(project) %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Project', new_project_path %>
